
.App {
text-align: center;
background-color: yellowgreen;
display: flex;
}

.component{
  border: 1px;
  width: 200px;
  height: 400px;
  margin: 10px; 
  border-radius:10%;
  background-color:aqua;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 15px;
   }

/* img{
  width: 100%;
  border-radius: 10%; 

} */
