
.App {
text-align: center;
background-color: yellowgreen;
display: flex;
}

.component{
  border: none;
  width: 150px;
  height: 250px;
  margin: 10px; 
  border-radius:10%;
  background-color:aqua;
  margin-left: 10px;
   }

img{
  width: 100%;
  border-radius: 10%; 

}

.d-flex {
  display: flex !important;
}